<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403493782215-i2n5khg67eat6lrdj3r3h9ffoqa3lui5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403493782215-i2n5khg67eat6lrdj3r3h9ffoqa3lui5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>403493782215-juell4h5toh6etnoo9nrkedj4vudfko7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARFmkWup_k-3u0CgCUPislzGahj2x3ib4</string>
	<key>GCM_SENDER_ID</key>
	<string>403493782215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.milan</string>
	<key>PROJECT_ID</key>
	<string>milan-an-app-for-ngo-s</string>
	<key>STORAGE_BUCKET</key>
	<string>milan-an-app-for-ngo-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403493782215:ios:712e4523e6b6e2de42f4e2</string>
</dict>
</plist>